@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="categoryId" name="图片分类集id(图集分类)" underline="true"/>
                            <#input id="labelIds" name="图集标签" underline="true"/>
                            <#input id="name" name="图集名称" underline="true"/>
                            <#input id="picturesNum" name="图片数量" underline="true"/>
                            <#input id="views" name="浏览次数" underline="true"/>
                            <#input id="modelId" name="所属模特" underline="true"/>
                            <#input id="thumbupCount" name="点赞次数"/>
                </div>

                <div class="col-sm-6">
                            <#input id="shareCount" name="分享次数" underline="true"/>
                            <#input id="collectionCount" name="收藏次数" underline="true"/>
                            <#input id="picAddress" name="图片地址" underline="true"/>
                            <#input id="scalePicaddress" name="缩略图地址" underline="true"/>
                            <#input id="isDel" name="" underline="true"/>
                            <#input id="cover" name="封面图片地址" underline="true"/>
                            <#input id="gmtCreated" name="" underline="true"/>
                            <#input id="gmtModified" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PicturesCategoryInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PicturesCategoryInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/repository/picturesCategory/picturesCategory_info.js"></script>
@}
