@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" underline="true"/>
                            <#input id="appId" name="应用id" underline="true"/>
                            <#input id="appVer" name="应用版本" underline="true"/>
                            <#input id="channel" name="渠道号" underline="true"/>
                            <#input id="username" name="用户名" underline="true"/>
                            <!--<#input id="nickname" name="昵称" underline="true"/>-->
                            <#input id="password" name="明文密码" underline="true"/>
                    <!--  <#input id="md5Password" name="md5加密密码" underline="true"/>-->
                            <#input id="gender" name="性别" underline="true"/>
                            <!--<#input id="picAddress" name="头像图片地址" underline="true"/>-->
                            <#input id="mobile" name="手机" underline="true"/>
                            <#input id="qq" name="qq" underline="true"/>
                            <#input id="weixin" name="微信" underline="true"/>
                            <#input id="email" name="邮箱" underline="true"/>
                          <!--  <#input id="memberTypeId" name="会员类型 表id" underline="true"/>
                            <#input id="memberTypeName" name="会员类型名称" underline="true"/>
                            <#input id="vipLevel" name="会员等级"/>-->
                </div>

                <!--<div class="col-sm-6">
                            <#input id="buyTime" name="购买时间" underline="true"/>
                            <#input id="endTime" name="结束时间" underline="true"/>
                            <#input id="aging" name="有效时间" underline="true"/>
                            <#input id="birthday" name="生日" underline="true"/>
                            <#input id="points" name="积分" underline="true"/>
                            <#input id="favoritesIds" name="收藏夹ids ，分隔" underline="true"/>
                            <#input id="lastLogin" name="最后登录时间" underline="true"/>
                            <#input id="lastLoginip" name="最后登录ip" underline="true"/>
                            <#input id="registerTime" name="注册时间" underline="true"/>
                            <#input id="registerIp" name="注册ip" underline="true"/>
                            <#input id="uuidToken" name="uuid唯一值，避免多端登录" underline="true"/>
                            <#input id="totalMoney" name="总消费额" underline="true"/>
                            <#input id="isLock" name="是否锁定 0 是 １否" underline="true"/>
                            <#input id="isDel" name="逻辑删除 0 是 １否" underline="true"/>
                            <#input id="gmtCreated" name="创建时间" underline="true"/>
                            <#input id="gmtModified" name="更改时间" underline="true"/>
                </div>-->
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MemberInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MemberInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/member/member_info.js"></script>
@}
