@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="vId" name="" underline="true"/>
                            <#input id="tid" name="" underline="true"/>
                            <#input id="vName" name="" underline="true"/>
                            <#input id="vState" name="" underline="true"/>
                            <#input id="vPic" name="" underline="true"/>
                            <#input id="vSpic" name="" underline="true"/>
                            <#input id="vGpic" name="" underline="true"/>
                            <#input id="vHit" name="" underline="true"/>
                            <#input id="vMoney" name="" underline="true"/>
                            <#input id="vRank" name="" underline="true"/>
                            <#input id="vDigg" name="" underline="true"/>
                            <#input id="vTread" name="" underline="true"/>
                            <#input id="vCommend" name="" underline="true"/>
                            <#input id="vWrong" name="" underline="true"/>
                            <#input id="vIsmake" name="" underline="true"/>
                            <#input id="vActor" name="" underline="true"/>
                            <#input id="vColor" name="" underline="true"/>
                            <#input id="vPublishyear" name="" underline="true"/>
                            <#input id="vPublisharea" name="" underline="true"/>
                            <#input id="vAddtime" name="" underline="true"/>
                            <#input id="vTopic" name="" underline="true"/>
                            <#input id="vNote" name="" underline="true"/>
                            <#input id="vTags" name="" underline="true"/>
                            <#input id="vLetter" name="" underline="true"/>
                            <#input id="vIsunion" name="" underline="true"/>
                            <#input id="vRecycled" name=""/>
                </div>

                <div class="col-sm-6">
                            <#input id="vDirector" name="" underline="true"/>
                            <#input id="vEnname" name="" underline="true"/>
                            <#input id="vLang" name="" underline="true"/>
                            <#input id="vScore" name="" underline="true"/>
                            <#input id="vScorenum" name="" underline="true"/>
                            <#input id="vExtratype" name="" underline="true"/>
                            <#input id="vJq" name="" underline="true"/>
                            <#input id="vNickname" name="" underline="true"/>
                            <#input id="vReweek" name="" underline="true"/>
                            <#input id="vDouban" name="" underline="true"/>
                            <#input id="vMtime" name="" underline="true"/>
                            <#input id="vImdb" name="" underline="true"/>
                            <#input id="vTvs" name="" underline="true"/>
                            <#input id="vCompany" name="" underline="true"/>
                            <#input id="vDayhit" name="" underline="true"/>
                            <#input id="vWeekhit" name="" underline="true"/>
                            <#input id="vMonthhit" name="" underline="true"/>
                            <#input id="vDaytime" name="" underline="true"/>
                            <#input id="vWeektime" name="" underline="true"/>
                            <#input id="vMonthtime" name="" underline="true"/>
                            <#input id="vReqVip" name="是否需要vip 0是 1否" underline="true"/>
                            <#input id="vLen" name="" underline="true"/>
                            <#input id="vTotal" name="" underline="true"/>
                            <#input id="vVer" name="" underline="true"/>
                            <#input id="vPsd" name="" underline="true"/>
                            <#input id="vLongtxt" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DataInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DataInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/data/data_info.js"></script>
@}
