@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="videoId" name="视频id" value="${item.videoId}" underline="true"/>
                            <#input id="videoName" name="视频名" value="${item.videoName}" underline="true"/>
                            <#input id="videoNote" name="说明(BD/高清/更新到6/共8)" value="${item.videoNote}" underline="true"/>
                            <#input id="videoPic" name="封面图片" value="${item.videoPic}" underline="true"/>
                            <#input id="videoActor" name="演员" value="${item.videoActor}" />
                </div>

                <div class="col-sm-6">
                            <#input id="memberId" name="用户id" value="${item.memberId}" underline="true"/>
                            <#input id="memberUsername" name="用户昵称" value="${item.memberUsername}" underline="true"/>
                            <#input id="isDel" name="逻辑删除" value="${item.isDel}" underline="true"/>
                            <#input id="gmtCreated" name="收藏时间" value="${item.gmtCreated}" underline="true"/>
                            <#input id="gmtModified" name="" value="${item.gmtModified}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FavoriteInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FavoriteInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/favorite/favorite_info.js"></script>
@}
