@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <!--<#input id="id" name="" value="${item.id}" underline="true"/>-->
                            <#input id="name" name="支付名" value="${item.name}" underline="true"/>
                            <!--<#input id="isDel" name="" value="${item.isDel}" underline="true"/>-->
                            <#input id="payCode" name="支付码" value="${item.payCode}" underline="true"/>
                            <#input id="payType" name="短贷支付渠道类型  1  第三方　2 短贷　3 支付宝　4 微信" value="${item.payType}" />
                </div>

                <div class="col-sm-6">
                           <!-- <#input id="isChoose" name="" value="${item.isChoose}" underline="true"/>
                            <#input id="sort" name="排序" value="${item.sort}" underline="true"/>
                            <#input id="gmtCreated" name="" value="${item.gmtCreated}" underline="true"/>
                            <#input id="gmtModified" name="" value="${item.gmtModified}" />-->
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PayChannelInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PayChannelInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/payChannel/payChannel_info.js"></script>
@}
