@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>播放源管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="videoSourceName" name="视频源" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="PlaySource.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="PlaySourceTableToolbar" role="group">
                            @if(shiro.hasPermission("/playSource/add")){
                                <#button name="添加" icon="fa-plus" clickFun="PlaySource.openAddPlaySource()"/>
                            @}
                            @if(shiro.hasPermission("/playSource/update")){
                                <#button name="修改" icon="fa-edit" clickFun="PlaySource.openPlaySourceDetail()" space="true"/>
                            @}
                             @if(shiro.hasPermission("/playSource/delete_list")){
                                <#button name="删除" icon="fa-remove" clickFun="deletePlaySourceList()" space="true"/>
                            @}
                        </div>
                        <#table id="PlaySourceTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/repository/playSource/playSource.js"></script>
@}
