@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="appContentId" name="应用内容id" underline="true"/>
                            <#input id="picturesCategoryId" name="图集资源库id"/>
                </div>

                <div class="col-sm-6">
                            <#input id="authority" name="权限" underline="true"/>
                            <#input id="isdel" name=""/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PhotosAppSourceInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PhotosAppSourceInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/repository/photosAppSource/photosAppSource_info.js"></script>
@}
