@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="appId" name="app  id" underline="true"/>
                            <#input id="appVer" name="app 版本号" underline="true"/>
                            <#input id="channelId" name=" 渠道号" underline="true"/>
                            <#input id="operator" name="运营商 1移动 2联通 3 电信" underline="true"/>
                            <#input id="address" name="省份 地区" underline="true"/>
                            <#input id="imsi" name="移动设备识别码" underline="true"/>
                            <#input id="imei" name="移动设备身份码" underline="true"/>
                            <#input id="smsc" name="短信中心号码" underline="true"/>
                            <#input id="pointId" name="100  开启　101 激活　102　弹出计费框　 103 切换到后台 104 切回应用 105 应用退出 106 应用崩溃 107 注册  108 取消注册 109 忘记密码 111 登录  112 登录取消 113 首页  115 频道页   117 列表页 119 详情页 121 播放页" underline="true"/>
                            <#input id="pointMessage" name="埋点信息" underline="true"/>
                            <#input id="payType" name="支付类型 1 ZZF  2 DM 3 LFT"/>
                </div>

                <div class="col-sm-6">
                            <#input id="uuid" name="用户唯一识别号码" underline="true"/>
                            <#input id="isDel" name="" underline="true"/>
                            <#input id="wifiType" name="网络类型" underline="true"/>
                            <#input id="mobile" name="手机号码" underline="true"/>
                            <#input id="iccid" name="手机识别码" underline="true"/>
                            <#input id="payChannelid" name="支付渠道号" underline="true"/>
                            <#input id="errorMessage" name="错误信息" underline="true"/>
                            <#input id="pointType" name="//埋点类型  1 安卓 2 ios" underline="true"/>
                            <#input id="idfa" name="广告标识" underline="true"/>
                            <#input id="openUdid" name="" underline="true"/>
                            <#input id="gmtCreated" name="创建时间" underline="true"/>
                            <#input id="gmtModified" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BuriedPointInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BuriedPointInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/buriedPoint/buriedPoint_info.js"></script>
@}
