@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="accountId" name="用户id" underline="true"/>
                            <#input id="picId" name="图片编号" underline="true"/>
                            <#input id="title" name="图片名称" underline="true"/>
                            <#input id="description" name="描述" underline="true"/>
                            <#input id="payPoints" name="支付积分" underline="true"/>
                            <#input id="tagsIds" name="标签类型"/>
                </div>

                <div class="col-sm-6">
                            <#input id="coverPic" name="封面" underline="true"/>
                            <#input id="typeId" name="图集类型" underline="true"/>
                            <#input id="number" name="图集编号" underline="true"/>
                            <#input id="isDel" name="是否删除" underline="true"/>
                            <#input id="picaddress" name="图片地址" underline="true"/>
                            <#input id="gmtcreated" name="创建时间" underline="true"/>
                            <#input id="gmtmodified" name="修改时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AtlasInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AtlasInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/atlas/atlas_info.js"></script>
@}
