@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" value="${item.id}" underline="true"/>
                            <#input id="accountId" name="用户id" value="${item.accountId}" underline="true"/>
                            <#input id="picId" name="图片编号" value="${item.picId}" underline="true"/>
                            <#input id="title" name="图片名称" value="${item.title}" underline="true"/>
                            <#input id="description" name="描述" value="${item.description}" underline="true"/>
                            <#input id="payPoints" name="支付积分" value="${item.payPoints}" underline="true"/>
                            <#input id="tagsIds" name="标签类型" value="${item.tagsIds}" />
                </div>

                <div class="col-sm-6">
                            <#input id="coverPic" name="封面" value="${item.coverPic}" underline="true"/>
                            <#input id="typeId" name="图集类型" value="${item.typeId}" underline="true"/>
                            <#input id="number" name="图集编号" value="${item.number}" underline="true"/>
                            <!--<#input id="isDel" name="是否" value="${item.isDel}" underline="true"/>-->
                            <#input id="picaddress" name="图片地址" value="${item.picaddress}" underline="true"/>
                            <!--<#input id="gmtcreated" name="" value="${item.gmtcreated}" underline="true"/>
                            <#input id="gmtmodified" name="" value="${item.gmtmodified}" />-->
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AtlasInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AtlasInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/atlas/atlas_info.js"></script>
@}
