@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="自动编号" value="${item.id}" underline="true"/>
                            <#input id="email" name="邮箱" value="${item.email}" underline="true"/>
                            <#input id="appId" name="appId" value="${item.appId}" underline="true"/>
                            <#input id="active" name="0 未激活 1 完成激活" value="${item.active}" />
                </div>

                <div class="col-sm-6">
                            <#input id="memberId" name="用户id" value="${item.memberId}" underline="true"/>
                            <#input id="gmtCreated" name="创建时间" value="${item.gmtCreated}" underline="true"/>
                            <#input id="gmtModified" name="修改时间" value="${item.gmtModified}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="EmailInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="EmailInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/email/email_info.js"></script>
@}
