@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="message" name="信息" value="${item.message}" underline="true"/>
                            <#input id="aging" name="短信有效时间(分)" value="${item.aging}" underline="true"/>
                            <#input id="isDel" name="" value="${item.isDel}" />
                </div>

                <div class="col-sm-6">
                            <#input id="mobile" name="发送手机" value="${item.mobile}" underline="true"/>
                            <#input id="gmtCreated" name="" value="${item.gmtCreated}" underline="true"/>
                            <#input id="gmtUpdated" name="" value="${item.gmtUpdated}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="NoteInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="NoteInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/note/note_info.js"></script>
@}
