@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>模特资源库管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                                <input type="hidden" id="isDelObject"  value="${isDel}">
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="ModelRepository.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ModelRepositoryTableToolbar" role="group">
                            @if(shiro.hasPermission("/modelRepository/add")){
                                <#button name="添加" icon="fa-plus" clickFun="ModelRepository.openAddModelRepository()"/>
                            @}
                            @if(shiro.hasPermission("/modelRepository/update")){
                                <#button name="修改" icon="fa-edit" clickFun="ModelRepository.openModelRepositoryDetail()" space="true"/>
                            @}
                             @if(shiro.hasPermission("/modelRepository/delete_list")){
                                <#button name="删除" icon="fa-remove" clickFun="deleteModelRepositoryList(true)" space="true"/>
                            @}
                        </div>
                        <#table id="ModelRepositoryTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/repository/modelRepository/modelRepository.js"></script>
<script>
    $(function () {
        PicturesCategory.search();
    });
</script>
@}
