@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="points" name="消费的积分" underline="true"/>
                            <#input id="memberId" name="消费的用户" underline="true"/>
                            <#input id="videoId" name="消费观看的视频" underline="true"/>
                            <#input id="isDel" name="是否删除"/>
                </div>

                <div class="col-sm-6">
                            <#input id="gmtCreated" name="" underline="true"/>
                            <#input id="gmtModified" name="" underline="true"/>
                            <#input id="appId" name="应用id" underline="true"/>
                            <#input id="appVer" name="应用版本" underline="true"/>
                            <#input id="channel" name="渠道号" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PointsConsumeRecordInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PointsConsumeRecordInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/pointsConsumeRecord/pointsConsumeRecord_info.js"></script>
@}
