@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="订单id" underline="true"/>
                            <#input id="orderNo" name="订单号" underline="true"/>
                            <#input id="memberId" name="用户id" underline="true"/>
                            <#input id="payment" name="实际付款金额,单位是元,保留两位小数" underline="true"/>
                            <#input id="paymentType" name="支付类型,1-在线支付"/>
                </div>

                <div class="col-sm-6">
                            <#input id="status" name="订单状态:0-已取消-10-未付款，20-已付款，40-已发货，50-交易成功，60-交易关闭" underline="true"/>
                            <#input id="paymentTime" name="支付时间" underline="true"/>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/order/order_info.js"></script>
@}
