@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>应用管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!--<div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="App.search()"/>
                            </div>
                        </div>-->
                        <div class="hidden-xs" id="AppTableToolbar" role="group">
                            @if(shiro.hasPermission("/app/add")){
                                <#button name="添加" icon="fa-plus" clickFun="App.openAddApp()"/>
                            @}
                            @if(shiro.hasPermission("/app/update")){
                                <#button name="修改" icon="fa-edit" clickFun="App.openAppDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/app/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="App.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/app/app.js"></script>
@}
