@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="appId" name="app_id" underline="true"/>
                            <#input id="appName" name="应用名"/>
                </div>

                <div class="col-sm-6">
                            <#input id="isDel" name="逻辑删除 0是 1否" underline="true"/>
                            <#input id="gmtCreated" name="创建时间" underline="true"/>
                            <#input id="gmtModified" name="更新时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/app/app_info.js"></script>
@}
