@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input type="hidden" id="id" value="${item.id}">
            <div class="row">
                <div class="col-sm-6 b-r">
                            
                            <#input id="typeId" name="视频类型" value="${item.typeId}" underline="true" readonly="readonly"/>
                            <#input id="videoId" name="视频id" value="${item.videoId}" underline="true" readonly="readonly"/>
                            <#input id="videoName" name="视频名" value="${item.videoName}" underline="true" readonly="readonly"/>
                            <#input id="videoNote" name="说明(BD/高清/更新到6/共8)" value="${item.videoNote}" underline="true" readonly="readonly"/>
                            <#input id="videoPic" name="封面图片" value="${item.videoPic}" underline="true" readonly="readonly"/>
                            <#input id="videoActor" name="演员" value="${item.videoActor}" underline="true" readonly="readonly"/>
                            <#input id="videoDirector" name="导演" value="${item.videoDirector}" underline="true" readonly="readonly"/>
                            <#input id="videoPublisharea" name="发行地区" value="${item.videoPublisharea}" underline="true"  readonly="readonly"/>
                            <#input id="videoPublishyear" name="发行年份" value="${item.videoPublishyear}"  readonly="readonly"/>
                </div>

                <div class="col-sm-6">
                            <#input id="memberId" name="用户id" value="${item.memberId}" underline="true" readonly="readonly"/>
                            <#input id="memberUsername" name="用户昵称" value="${item.memberUsername}" underline="true" readonly="readonly"/>
                            <#input id="sort" name="排序" value="${item.sort}" underline="true" readonly="readonly"/>
                            <#input id="isDel" name="逻辑删除" value="${item.isDel}" underline="true" readonly="readonly"/>
                            <#input id="gmtCreated" name="收藏时间" value="${item.gmtCreated}" underline="true" readonly="readonly"/>
                            <#input id="gmtModified" name="" value="${item.gmtModified}" underline="true" readonly="readonly"/>
                            <#input id="appId" name="应用id" value="${item.appId}" underline="true" readonly="readonly"/>
                            <#input id="appVer" name="应用版本" value="${item.appVer}" underline="true" readonly="readonly"/>
                            <#input id="channel" name="渠道号" value="${item.channel}"  readonly="readonly"/>
                </div>
            </div>


        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/playHistory/playHistory_info.js"></script>
@}
