<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.DataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Data">
        <id column="v_id" property="vId" />
        <result column="tid" property="tid" />
        <result column="v_name" property="vName" />
        <result column="v_state" property="vState" />
        <result column="v_pic" property="vPic" />
        <result column="v_spic" property="vSpic" />
        <result column="v_gpic" property="vGpic" />
        <result column="v_hit" property="vHit" />
        <result column="v_money" property="vMoney" />
        <result column="v_rank" property="vRank" />
        <result column="v_digg" property="vDigg" />
        <result column="v_tread" property="vTread" />
        <result column="v_commend" property="vCommend" />
        <result column="v_wrong" property="vWrong" />
        <result column="v_ismake" property="vIsmake" />
        <result column="v_actor" property="vActor" />
        <result column="v_color" property="vColor" />
        <result column="v_publishyear" property="vPublishyear" />
        <result column="v_publisharea" property="vPublisharea" />
        <result column="v_addtime" property="vAddtime" />
        <result column="v_topic" property="vTopic" />
        <result column="v_note" property="vNote" />
        <result column="v_tags" property="vTags" />
        <result column="v_letter" property="vLetter" />
        <result column="v_isunion" property="vIsunion" />
        <result column="v_recycled" property="vRecycled" />
        <result column="v_director" property="vDirector" />
        <result column="v_enname" property="vEnname" />
        <result column="v_lang" property="vLang" />
        <result column="v_score" property="vScore" />
        <result column="v_scorenum" property="vScorenum" />
        <result column="v_extratype" property="vExtratype" />
        <result column="v_jq" property="vJq" />
        <result column="v_nickname" property="vNickname" />
        <result column="v_reweek" property="vReweek" />
        <result column="v_douban" property="vDouban" />
        <result column="v_mtime" property="vMtime" />
        <result column="v_imdb" property="vImdb" />
        <result column="v_tvs" property="vTvs" />
        <result column="v_company" property="vCompany" />
        <result column="v_dayhit" property="vDayhit" />
        <result column="v_weekhit" property="vWeekhit" />
        <result column="v_monthhit" property="vMonthhit" />
        <result column="v_daytime" property="vDaytime" />
        <result column="v_weektime" property="vWeektime" />
        <result column="v_monthtime" property="vMonthtime" />
        <result column="v_req_vip" property="vReqVip" />
        <result column="v_len" property="vLen" />
        <result column="v_total" property="vTotal" />
        <result column="v_ver" property="vVer" />
        <result column="v_psd" property="vPsd" />
        <result column="v_longtxt" property="vLongtxt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        v_id, tid, v_name, v_state, v_pic, v_spic, v_gpic, v_hit, v_money, v_rank, v_digg, v_tread, v_commend, v_wrong, v_ismake, v_actor, v_color, v_publishyear, v_publisharea, v_addtime, v_topic, v_note, v_tags, v_letter, v_isunion, v_recycled, v_director, v_enname, v_lang, v_score, v_scorenum, v_extratype, v_jq, v_nickname, v_reweek, v_douban, v_mtime, v_imdb, v_tvs, v_company, v_dayhit, v_weekhit, v_monthhit, v_daytime, v_weektime, v_monthtime, v_req_vip, v_len, v_total, v_ver, v_psd, v_longtxt
    </sql>

</mapper>
