<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.PointsConsumeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.PointsConsumeRecord">
        <id column="id" property="id" />
        <result column="points" property="points" />
        <result column="memberId" property="memberId" />
        <result column="videoId" property="videoId" />
        <result column="is_del" property="isDel" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="appId" property="appId" />
        <result column="appVer" property="appVer" />
        <result column="channel" property="channel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, points, memberId, videoId, is_del, gmt_created, gmt_modified, appId, appVer, channel
    </sql>

</mapper>
